doctype html
html
  head
    title= title
    // ====== Required meta tags ======
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible' content='ie=edge')
    meta(name='description' content='')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    // ====== Title ======
    title Unfold - Personal Portfolio &amp; CV Template
    // ====== Favicon Icon ======
    link(rel='shortcut icon' href='/images/favicon.png' type='image/png')
    // ====== Bootstrap css ======
    link(rel='stylesheet' href='/stylesheets/bootstrap.min.css')
    // ====== Line Icons css ======
    link(rel='stylesheet' href='/stylesheets/LineIcons.css')
    // ====== Magnific Popup css ======
    link(rel='stylesheet' href='/stylesheets/magnific-popup.css')
    // ====== Default css ======
    link(rel='stylesheet' href='/stylesheets/default.css')
    // ====== Style css ======
    link(rel='stylesheet' href='/stylesheets/style.css')
  body
    block content

    // ====== jquery js ======
    script(src='/javascripts/vendor/modernizr-3.6.0.min.js')
    script(src='/javascripts/vendor/jquery-1.12.4.min.js')
    // ====== Bootstrap js ======
    script(src='/javascripts/bootstrap.min.js')
    script(src='/javascripts/popper.min.js')
    // ====== Magnific Popup js ======
    script(src='/javascripts/jquery.magnific-popup.min.js')
    // ====== Parallax js ======
    script(src='/javascripts/parallax.min.js')
    // ====== Counter Up js ======
    script(src='/javascripts/waypoints.min.js')
    script(src='/javascripts/jquery.counterup.min.js')
    // ====== Appear js ======
    script(src='/javascripts/jquery.appear.min.js')
    // ====== Scrolling js ======
    script(src='/javascripts/scrolling-nav.js')
    script(src='/javascripts/jquery.easing.min.js')
    // ====== Main js ======
    script(src='/javascripts/main.js')
